window.mainwindow, window.mainwindow .titlebar {
  background: black;
  border: none;
}

.translucent-overlay {
  background: rgba(0, 0, 0, 0.5);
}

window.mainwindow .titlebutton {
  background: @theme_fg_color;
  color: @theme_bg_color;
  /* soften the border */
  border: 0.5px solid mix(@theme_fg_color, @theme_base_color, 0.1);
  box-shadow: none;
}

window.mainwindow .titlebutton:hover {
  background: mix(@theme_fg_color, @theme_base_color, 0.3);
}

window.mainwindow .titlebutton:active {
  background: mix(@theme_fg_color, @theme_base_color, 0.5);
}

window.mainwindow .titlebutton image  {
  -gtk-icon-shadow: none;
}
